<div class="section">
    <div class="container">
        <div class="columns">

            <div class="column is-8">
                <article class="content-primary" aria-labelledby="aria-primary-title">
                    {{ content_rich }}
                        {{ partial src="sets/{type}" }}
                    {{ /content_rich }}

                </article>
                <br>
                {{ nocache }}
                    {{ form:contact }}
                        {{ if errors }}
                            <div class="notification is-warning">
                                {{ errors }}
                                    {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}
                        {{ if success }}
                            <div class="notification is-success">
                                Form was submitted successfully.
                            </div>
                        {{ /if }}
                        <div class="columns is-multiline">
                            {{ fields }}
                                {{ if type == "text" }}
                                    <div class="column is-{{ width }}">
                                        <div class="field">
                                            <label for="{{ handle }}">{{ display }}
                                                {{ if validate == "required" }}
                                                    <small class="has-text-grey">
                                                        (required)</small>
                                                {{ /if }}
                                            </label>
                                            <div class="control">
                                                <input type="{{ type }}" id="{{ handle }}" class="input" name="{{ handle }}" value="{{ if placeholder}}{{placeholder}} {{else}}{{ old }}{{/if}}" />
                                                {{ if note }}
                                                    <p class="help">{{ note }}</p>
                                                {{ /if }}
                                            </div>
                                        </div>
                                    </div>
                                {{ else }}
                                    <div class="column is-{{ width }}">
                                        <div class="field">
                                            <label for="{{ handle }}">{{ display }}
                                                {{ if validate == "required" }}
                                                    <small class="has-text-grey">
                                                        (required)</small>
                                                {{ /if }}
                                            </label>
                                            <div class="control">
                                                <textarea class="textarea" id="{{ handle }}" name="{{ handle }}">{{ old }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                {{ /if }}
                            {{ /fields }}
                            <div class="column is-12">
                                {{ captcha data-size="compact" }}
                                {{ if error:captcha }}
                                    <p>{{ error:captcha }}</p>
                                {{ /if }}
                            </div>
                            <div class="column is-12">
                                <div class="buttons">
                                    <button type="submit" class="button is-primary">Submit Enquiry</button>
                                </div>
                            </div>

                        </div>
                    {{ /form:contact }}
                {{ /nocache }}
            </div>
            <div class="column is-4 is-offset-1">
                <div class="content">
                    {{ contact_sidebar | markdown }}
                </div>

            </div>
        </div>
    </div>

    <!-- everything between these tags will disappear from your template... -->
    {{ section:page_scripts }}
        {{ captcha:head }}
    {{ /section:page_scripts }}