<!-- Begin jQuery / Scripting -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="{{ mix src='/js/forster.js' }}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mmenu-js/8.4.3/mmenu.js" integrity="sha512-aH2vrmLtuPYoMsfH25hRs96+BUqJlSgZWWEx2BYrobpTd5h+ua2jmjWn9kNLPkQWJFAwQO6umMDQPLDeaxrPNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mmenu-js/8.4.3/mmenu.min.css" integrity="sha512-ZFyC7+YpYtaLBnV3RDDXx/cT7M/thRS1Kbb6khPnJEI1zyB3ALEhcTrbZfXIRsHFuxDFfctDJlbDcnXjVv/glA==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<div id="mobile-menu">
  <ul class="nav">

    <li><a href="{{ homepage }}" {{ if !segment_1 }} class="Selected" {{ /if }}>Home</a></li>

    {{ nav from="/" max_depth="4" navigation_location:not="hidden" }}
      <li {{ if is_current }} class="Selected" {{ /if }}>
        <a href="{{ url }}">{{ title }}</a>
        {{ if children }}
          <ul>{{ *recursive children* }}</ul>
        {{ /if }}
      </li>
    {{ /nav }}

  </ul>
</div>