{{ file }}
  <a href="{{ permalink }}" target="_blank" class="download-card" onclick="gtag('event', 'click', { 'event_category' : 'Downloads', 'event_label' : '{{ file_display_name }} ({{ basename }})'});">
    <div class="file-image" aria-hidden="true">
      {{ if extension === "pdf" }}
        <img src="/assets/theme-assets/file-pdf-light.svg">
      {{ elseif extension === "doc" || extension === "docx" }}
        <img src="/assets/theme-assets/file-word-light.svg">
      {{ /if }}
    </div>
    <div class="file-content">
      <span class="is-size-4 has-text-weight-bold">{{ file_display_name }}</span><br>
      <span>{{ size }} {{ extension | upper }} File - {{ basename }}</span>
    </div>
  </a>
{{ /file }}