// Primary Colours
$blue: #0D6697;
$link: $blue;
$primary: $blue;
//
// Navbar Customisation
$navbar-background-color: $blue;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: transparentize($black, 0.8);
$navbar-item-active-color: white;
$navbar-item-active-background-color: transparentize($white, 0.95);
$navbar-dropdown-background-color: $blue;
$navbar-dropdown-arrow: transparentize($white, 0.5);
//
// Buttons

//
// Titles
$title-color: $blue;
$subtitle-color: $blue;
$subtitle-weight: 300;
//
// Misc
$hr-margin: 3rem 0rem;

//
// Panels
$panel-item-border: 1px solid transparentize($blue, 0.95);
$panel-heading-background-color: transparentize($blue, 0.9);
$panel-heading-color: $blue;
$panel-heading-line-height: 1.25 !default;
$panel-heading-weight: bold;
$panel-block-color: $blue;

//
$family-sans-serif: 'IBM Plex Sans',
sans-serif;

//
// Tabs
$tabs-border-bottom-color: $blue !default;
$tabs-border-bottom-style: solid !default;
$tabs-border-bottom-width: 0px !default;
$tabs-link-color: $blue !default;
$tabs-link-hover-border-bottom-color: $blue !default;
$tabs-link-hover-color: $blue !default;
$tabs-link-active-border-bottom-color: $link !default;
$tabs-link-active-color: $link !default;
$tabs-link-padding: 0.75em 1em !default;

.tabs {
  font-weight: bold;
}

//
// Blockquote
$content-blockquote-background-color: transparentize($blue, 0.9);
$content-blockquote-border-left: 5px solid $blue !default;
$content-blockquote-padding: 1.5em 2em !default;

.content blockquote {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.download-card {
  background-color:rgba(13, 102, 151, 0.1);
  display: flex;
  flex-direction: flex-row;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  transition: 0.5s;
  margin-bottom: 15px;
  &:hover {
    background-color: rgba(13, 102, 151, 0.8);
    color: white;
  }
  .file-image {width: 40px; display: flex; 
  height: 40px; margin-right: 10px; align-self: center;
}
  .file-content {}
}