/*! bulma.io v0.7.1 | MIT License | github.com/jgthms/bulma */
//

@charset "utf-8";
@import "../node_modules/mburger-css/dist/mburger";
@import "../node_modules/mmenu-js/dist/mmenu";
@import "../node_modules/mmenu-js/dist/extensions/pagedim/mmenu.pagedim";
//@import "utility/fonts";
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "custom";
@import "../node_modules/bulma/bulma/";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/sass/utilities/animations.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
//
// Import Utility
@import "../node_modules/bulma/sass/utilities/mixins";

//
// Import Bulma
@import "../node_modules/bulma/sass/base/all";
@import "../node_modules/bulma/sass/elements/all";
@import "../node_modules/bulma/sass/components/all";
@import "../node_modules/bulma/sass/grid/all";
@import "../node_modules/bulma/sass/layout/hero";
@import "../node_modules/bulma/sass/layout/section";
//
// Import Components
@import "./components/header";
@import "./components/hero";
@import "./components/footer";
@import "./components/generics";
@import "./components/tabs";
@import "./components/content";
@import "./components/navbox";
@import "./components/home";
@import "./components/media";
//
//
// Import Layout
// @import "layout/page-product";
//
// Import Pages
@import "pages/home";

body { background-color: white;}

.mm-listitem__text {
  text-overflow: initial;
  white-space: normal;
  overflow: auto;
  line-height: 2rem;
  color: white;
}

.mm-menu {
  --mm-color-background: #0D6697;
  color: white;
}

.mm-menu_opened.mm-menu_pagedim-black~.mm-wrapper__blocker {opacity: 0.5}

a.hamburger:focus {
    background-color: transparent;
  outline: initial;
}