.section-navbox {
  margin-top: 2rem;
}

.navbox {
  background-color: white;
  box-shadow: 0 10px 20px 0 rgba(13, 102, 151, 0.16);
  border-top: 3px solid $blue;
  top: 0px;
  height: 100%;
  transition: all .3s;

  a {
    display: block;
  }

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(13, 102, 151, 0.16);
    top: 5px;
    transition: all .3s;

    transform: translateY(-5px);

    .title {
      background-color: $blue;
      color: white;
      transition: all .3s;
    }
  }

  .title {
    padding: 1rem;
    background-color: transparentize($color: $blue, $amount: 0.9)
  }

  p {
    padding: 1rem;
  }
}