@font-face {
    font-family: "Cera Basic";
    font-style: Regular;
    src: url("../fonts/cerabasic/cerabasic-regular-webfont.eot?") format("eot"), url("../fonts/cerabasic/cerabasic-regular-webfont.woff2") format("woff2"), url("../fonts/cerabasic/cerabasic-regular-webfont.woff") format("woff"), url("../fonts/cerabasic/cerabasic-regular-webfont.ttf") format("truetype"), url("../fonts/cerabasic/cerabasic-regular-webfont.svg") format("svg");
}

@font-face {
    font-family: "Cera Basic";
    font-style: Bold;
    src: url("../fonts/cerabasic/cerabasic-bold-webfont.eot?") format("eot"), url("../fonts/cerabasic/cerabasic-bold-webfont.woff2") format("woff2"), url("../fonts/cerabasic/cerabasic-bold-webfont.woff") format("woff"), url("../fonts/cerabasic/cerabasic-bold-webfont.ttf") format("truetype"), url("../fonts/cerabasic/cerabasic-bold-webfont.svg") format("svg");
}