<section class="hero">
  {{ if section_icon}}
  <div class="hero-icon-overlay">
    <img alt="" src="{{ section_icon }}">
  </div>
  {{ else }}
  {{ parent }}
  <div class="hero-icon-overlay">
    <img alt="" src="{{section_icon}}">
  </div>
  {{ /parent }}
  {{ /if }}
<div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <nav class="breadcrumb">
          <ol itemscope itemtype="http://schema.org/BreadcrumbList">
            {{ nav:breadcrumbs }}
            <li itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem"{{ if is_current }} class="current" {{ /if }}>
              <a itemprop="item" href="{{ url }}"><span itemprop="name">{{ title }}</span><meta itemprop="position" content="{{ increment from="1" }}" /></a>
            </li>
            {{ /nav:breadcrumbs }}
          </ol>
        </nav>

        <hgroup class="hero-text" id="aria-primary-title" role="group" aria-roledescription="Heading group">
          <h1 class="title is-1 is-size-3-touch">{{ title }}</h1>
          <p aria-roledescription="subtitle" class="subtitle is-3 is-size-4-touch">{{ subtitle }}</p>
        </hgroup>
      </div>
    </div>
  </div>
  </div>
</section>

{{ nav:exists from="/{segment_1}" max_depth="1" folders_only="true" }}
<div class="subnav">
  <div class="container">
    <nav class="tabs" aria-label="Sub-Section Navigation">
      <ul>
        {{ nav from="/{segment_1}" max_depth="1" folders_only="true" }}
        <li><a {{ if is_current }} class="is-active" {{ /if }} href="{{ url }}">{{title}}</a></li>
        {{ /nav }}
      </ul>
    </nav>
  </div>
</div>
{{ /nav:exists }}